.c-content
  width 100%
  padding-left per(300, 1440)
  box-sizing border-box
  +sp()
    padding 0 per(60, 750) 0

.c-content-inner
  width per(1050, 1140)
  box-sizing border-box
  +sp()
    width 100%


.c-content-limit
  width 100%
  max-width 1800px
  margin auto
