// path
$imgPath = '/employment/internship/teaser/assets/images/'

// size
$baseWidth = 750
$maxWidth = 940

// break point
$lp = 'screen and (min-width: 1800px)'
$mp = 'screen and (min-width: 1440px)'
$pc = 'screen and (min-width: ' + $maxWidth + 'px)'
$sp = 'screen and (max-width: ' + ($maxWidth - 1) + 'px)'

// color
$cJobs = #343533
$cNav = #3b3939
$dark = #3b3939
$borderColor = rgba(59, 57, 57, 0.6)
